<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
    <link rel="shortcut icon" href="https://tools-by-umid.vercel.app/icons/main-logo-ico.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
</head>
<body class="container bg-primary text-white my-5">
<h1>Welcome to Company</h1>
<div style="height: 2px" class="bg-white w-100"></div>
<a class="text-white mt-3" href="/company">Company</a>
</body>
</html>